<app-indexnavbar></app-indexnavbar>
<div class="d-flex align-items-center h-200">
        <div class="container text-center py-5">
          <h1 class="mb-0">Wishlist</h1>
        </div>
      </div>
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <div class="nearby-user">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <img src="https://images-na.ssl-images-amazon.com/images/I/51kfFS5-fnL._SX332_BO1,204,203,200_.jpg" alt="user" class="profile-photo-lg">
            </div>
            <div class="col-md-7 col-sm-7">
              <h5><a href="#" class="profile-link">Lord of the Rings</a></h5>
              <p>Book</p>
              <p class="text-muted">Fiction</p>
            </div>
            <div class="col-md-3 col-sm-3">
              <button class="btn btn-primary pull-right">Add To Cart</button>
            </div>
          </div>
        </div>
    </div>
</div>
</div>